
OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE

POSTGRES_USER     =raguser
POSTGRES_PASSWORD =ragpass123
POSTGRES_DB       =ragdb
DB_PORT           =5432
API_PORT          =8000

CHUNK_SIZE       =500
CHUNK_OVERLAP    =50
EMBEDDING_MODEL  =text-embedding-3-small
CHAT_MODEL       =gpt-4o-mini

